.page{
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    text-align: center;
}


.flexBox{
    width: 100%;
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.flexItem{
    margin: 20px;

}